.carousel {
    position: relative;
    width: auto;
    height: 315px;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 70%;
}
.carousel .thumbs {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    outline: 1px solid green;
}
.carousel .thumb-wrapper {
    margin-bottom: 0;
    outline: 1px solid white;
}

.carousel .thumb {
    margin: 0 5px;
    cursor: pointer;
    outline: 1px solid green($color: #000000);
}

.carousel .overlay {
    width: 80%;
    position: absolute;
    bottom: 55%;
    transform: translateY(-50%);
    left: 10%;
    padding: 0.4rem 1.5rem;
    text-align: left;
    background: rgba(0,0,0,0.6);
    color: #FFF;
}
.carousel .slide img {
    object-fit: cover;
    width: 1200px;
    height: 800px;
    outline: 1px solid pink;
}

.carousel .overlay_title {
    margin:0.8rem 0 1rem 0;
}


@media screen and (max-width:600px) {
    .carousel .slide img {
        width: 100vw !important;
        height: 40vh;
        object-fit: cover;
    }
    
}